:root {
  --animate-duration: 2s;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.btn {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 1s;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  outline: none;
  line-height: 1.2;
}
.btn:hover {
  background-position: right center;
}
/*title*/
.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: black;
  margin-bottom: 20px;
}
/*header*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  margin-right: 30px;
}
.header-container li {
  padding: 55px 15px;
}
.header-container li a {
  color: black;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}
.header-container span {
  display: inline-block;
}
.header-container i {
  font-size: 10px;
  margin-top: -4px;
  vertical-align: middle;
}
.header-container li:hover a {
  color: #f55f8d;
}
.header-container li:hover span {
  animation: upToDown 0.5s forwards;
}
@keyframes upToDown {
  49% {
    transform: translateY(30px);
  }
  50% {
    opacity: 0;
    transform: translateY(-30px);
  }
  51% {
    opacity: 1;
  }
}
/*banner*/
.banner {
  padding-top: 180px;
  background-image: url(../image/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.banner-container {
  display: flex;
  align-items: center;
}
.banner-left {
  width: 60%;
}
.banner-right {
  width: 40%;
}
.banner-develop p {
  font-size: 18px;
  margin-bottom: 15px;
}
.banner-develop i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 25px;
  color: white;
  border-radius: 30px;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 180%;
  margin-right: 10px;
}
.banner-container ul {
  margin-bottom: 20px;
}
.banner-container li {
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.banner-image {
  width: 550px;
  margin-left: 50px;
}
.banner-image img {
  max-width: 100%;
  display: block;
}
/*service*/
.service {
  padding-top: 115px;
  background-image: url(../image/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 35px;
}
.service-item {
  background: white;
  padding: 30px 45px;
  border: 3px solid transparent;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  transform: translateY(0);
}
.service-item:hover {
  transform: translateY(-20px);
  border-image: url(../image/br.png) 2 round;
}
.service-item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: black;
  margin: 15px 0;
}
.service-item img {
  width: 215px;
}
/*about*/
.aboutus {
  padding-top: 115px;
  padding-bottom: 85px;
  background-image: url(../image/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}
.aboutus-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.aboutus-left {
  width: 60%;
  left: -17%;
  position: absolute;
}
.aboutus-left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutus-right {
  width: 50%;
}
.aboutus-right p {
  margin-bottom: 15px;
}
.aboutus-right ul {
  margin-bottom: 30px;
}
.aboutus-right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/*number*/
.number {
  padding: 80px 0 50px 0;
  background: url(../image/bg14.png) center no-repeat;
  text-align: center;
}
.number-container {
  display: flex;
  justify-content: space-around;
}
.number-item {
  width: 25%;
}
.number-item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}
.number-item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number-item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/*feature*/
.feature {
  background: url(../image/bg2.png) center no-repeat;
  background-size: 100%;
  padding: 115px 0 0 0;
  overflow: hidden;
}
.feature-container {
  display: flex;
}
.feature-left,
.feature-right {
  width: 50%;
}

.feature-item {
  padding: 0 50px 30px 0;
}
.feature-item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
.feature-mention {
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.feature-mention::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.feature-mention:hover::after {
  opacity: 1;
}
.feature-item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature-item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.feature-item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.feature-img {
  margin-right: -80px;
}
.feature-img img {
  max-width: 100%;
  animation: move1 5s infinite;
}
.feature-mention:hover i,
.feature-mention:hover div,
.feature-mention:hover h3 {
  color: white;
}
@keyframes move1 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/*work*/
.work {
  padding-top: 115px;
  text-align: center;
  background: url(../image/bg17.png) top center;
  background-size: cover;
  overflow: hidden;
}
.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 35px;
}
.work-item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work-item img {
  width: 100%;
  height: 100%;
}
.item1 {
  grid-column: 1 / span 2;
}
.item5 {
  grid-column: 1 / span 2;
}
.item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.work-item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.work-item:hover::before {
  left: 125%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.work-item:hover .overlay {
  opacity: 1;
}
.overlay-icon i {
  position: absolute;
  top: 40px;
  right: 43px;
  font-size: 28px;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 50%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.work-icon a {
  color: #fff;
}
.work-item:hover .work-icon {
  transform: translate(0);
}
.overlay-icon a {
  cursor: pointer;
}
.overlay-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.work-item:hover .overlay-text {
  transform: translateY(0);
}
.overlay-text h3 {
  font-size: 22px;
  font-weight: 800;
  color: white;
}
.overlay-text p {
  color: white;
  opacity: 0.7;
}
/*blog*/
.blog {
  padding: 115px 0 50px 0;
  background-image: url(../image/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.blog-item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog-img {
  position: relative;
}
.blog-img img {
  width: 100%;
  border-radius: 8px;
}
.blog-img p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog-text {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog-text h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog-footer p:first-of-type {
  margin-right: 20px;
}
.blog-footer p:first-of-type span {
  color: #f55f8d;
}
/*footer*/
footer {
  background-image: url(../image/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-subscribe {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../image/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}
.footer-title,
.form {
  width: 50%;
}
.footer-title h2 {
  font-size: 28px;
  color: #262626;
}

.form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}
.form input:focus,
.form input:hover {
  border-color: #f55f8d;
}
.form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
}
.form button:hover {
  background-position: right center;
}
.form button:hover i {
  animation: left-right 0.5s forwards;
  display: inline-block;
}
.footer-link {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer-item {
  width: 25%;
}
.footer-item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer-item h3::before,
.footer-item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 50%, #f55f8d 100%);
  background-size: 200%;
}
.footer-item h3::before {
  width: 15px;
}
.footer-item h3::after {
  width: 45px;
  left: 20px;
}
.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer-contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.footer-item li {
  padding: 0.5rem 0;
}
.footer-item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer-item i {
  font-weight: 700;
  margin-right: 10px;
}
.footer-item a:hover {
  color: white;
}
.footer-copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-left span {
  color: #f55f8d;
}
.footer-copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer-copyright a:hover {
  background: #f55f8d;
}
@keyframes left-right {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*back to top*/
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
